POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

INVENTORY_DB_NAME=
INVENTORY_DB_CONNECTION=

BILLING_DB_NAME=
BILLING_DB_CONNECTION=

GEMINI_API_KEY=

INVENTORY_SERVICE_URL=
BILLING_SERVICE_URL=
GATEWAY_URL=

ASPNETCORE_ENVIRONMENT=
