<aside class="sidebar brutal">
  <div class="logo">
    <div class="logo-box">K</div>
    <h2>KORP</h2>
  </div>

  <nav class="nav-menu">
    <a routerLink="/products" routerLinkActive="active" class="menu-item">
      <span>Catálogo (SKU)</span>
    </a>
    <a routerLink="/invoices" routerLinkActive="active" class="menu-item">
      <span>Faturamento</span>
    </a>
    <a routerLink="/ai-assistant" routerLinkActive="active" class="menu-item acid">
      <span>Korp AI</span>
    </a>
  </nav>

  <div class="footer">v1.2 // MAURICIO</div>
</aside>
